div {
    margin: 20px 0;
}

.header {
    height: 100px;
    background-color: pink;
    border: 1px solid red;
}

.navbar {
    height: 200px;
    background-color: gold;
    border: 1px solid black
}

.content {
    height: 300px;
    background-color: skyblue;
    border: 1px solid blue
}

.footer {
    height: 200px;
    background-color: lightgreen;
    border: 1px solid green
}

@media only screen and (min-width: 800px) {
    .body > div {
        margin: 1px;
    }

    .navbar {
        display: inline-block;
        width:20%;
        height: 500px;
    }

    .content {
        display: inline-block;
        height: 500px;
        width: 78%;
    }
}